{% extends 'flatpages/default.html' %}

{% load custom_tags %}

{% block content %}
{% for post in listings %}
<div class="card">
    <div class="card-header">
        <a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a>
        &middot;
        <span class="text-muted">by {{ post.author }} |
            {{ post.register_date }}</span>
        {% for nam in category_detail %}
            {% if nam.category_name == post.post_category.last %}
                    <span style="float: right" class="text-muted">Категория
                        {% if is_subscribed %}
                            <form method="post" action="{% url 'subscribe_to_category' nam.pk %}">
                            {% csrf_token %}
                                <a href="{% url 'subscribe_to_category' nam.id %}">
                                    <button class="btn btn-outline-success">{{ post.post_category.last }}</button>
                                </a>
                            </form>
                        {% else %}
                            <form method="post" action="{% url 'unsubscribe_to_category' nam.pk %}">
                            {% csrf_token %}
                                <a href="{% url 'unsubscribe_to_category' nam.id %}">
                                    <button class="btn btn-outline-danger">{{ post.post_category.last }}</button>
                                </a>
                            </form>
                    </span>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
    <div class="card-body">
        <p>{{ post.content|safe }}</p>
        {% if post.author.author == request.user %}
            <a href="{% url 'post_edit' post.pk %}">Edit</a> |
            <a href="{% url 'post_delete' post.pk %}">Delete</a>
        {% endif %}
    </div>
    <div class="card-footer">
        {% for comm in post.comment_set.all %}
        <p>
            <span class="font-weight-bold">
                {{ comm.comment_author }} &middot;
            </span>
            {{ comm.comment_text|safe }} &middot;
            <span class="text-muted">{{ comm.comment_date }}</span>
        </p>
        {% endfor %}
    </div>
<br />
</div>
{% endfor %}
<div style="text-align: center">
    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}
</div>
{% endblock content %}