<!DOCTYPE html>
{% load i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "Mailing list" %}</title>
</head>
<body>
<h1>{% trans "Hello" %}, <strong>{{ recipient }}</strong>!
    <strong>У объявления "{{ title }}" новый отклик!</strong></h1>
<p>Пользователь <strong>{{ comment_author }}:</strong></p>
<h2>"{{ content|safe|truncatechars:50 }}"</h2>
<h3>{% trans "Sincerely yours," %}</h3>
    <h3>{% trans "BillyBoard.inc" %}</h3>
</body>
</html>